.titles{


font-size: 25px;
font-weight: bold;
text-align:center;
margin-top: 45px;
}
.popoutamount{
Font-size: 25px;
font-weight: bold;
}


#vis {
  width: 500px;
  height: 500px;
  clear: both;
  margin-bottom: 10px;
  display: inline-block;
}
#vis2 {
  width: 500px;
  height: 500px;
  clear: both;
  margin-bottom: 10px;
  display: inline-block;
}


footer {
  text-align: center;
  margin-top:50px;
}

#view_selection {
  margin-top: 10px;
}

.years {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 15px;
	z-index: 10;
	text-align: center;
	line-height: 24px;
}


.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}
header {
	margin-top: 50px;
}
